@media (max-width: 1440px) {
    html {
        font-size: 70%;
    }
}
@media (max-width: 1366px) {
    html {
        font-size: 80%;
    }
}
@media (max-width: 1360px) {
    html {
        font-size: 73.5%;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%; // 15 px
    }
}
@media (max-width: 1024px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 40%; // 14 px
    }
}
@media (max-width: 720px) {
    html {
        font-size: 87.5%; // 14 px
    }
}
@media (max-width: 425px) {
    html {
        font-size: 25%; // 14 px
    }
}
